body {
    background-color: #EEEEFF;
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: 'Courier New', Courier, monospace;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

h1 {
    margin-bottom: 0;
}

main {
    margin-top: 3rem;
}

h2 {
    margin-bottom: 0;
    font-weight: bold;
}

dl {
    margin-bottom: 2.4rem;
}

dt {
    margin-bottom: .5rem;
    font-size: 1.1rem;
    font-weight: bold;
}

dd {
    font-size: 0.85rem;
    margin-left: 1.6rem;
}

.example-text {
    opacity: 0.65;
}

.mailto {
    font-family: 'メイリオ', 'Meiryo', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
}

#lastUpdatedDate {
    font-size: .8rem;
    color: #888;
}

/* 
    ダークモード
*/
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000011;
        color: #fff;
        margin-bottom: 6vh;
    }

    .mailto {
        color: #0099ff
    }
}