:root {
    --maxWidth: 600px;
}

body {
    background-color: #EEEEFF;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #000;
}

#developerName {
    color: #30a9e6;
    text-decoration: underline;
}

main {
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 120px;
    max-width: var(--maxWidth);
    margin-left: auto;
    margin-right: auto;
}

#gumi {
    padding: 0;
    display: block;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: -200px;
    transition: left 5s linear; 
    z-index: 9999;
}

.app-card {
    display: block;
    border-radius: 20px;
    height: 170px;
    padding: 16px;
    padding-bottom: 0;
    margin-bottom: 18px;
    max-width: var(--maxWidth);
}

.app-card:hover {
    opacity: 0.5;
}

#appCardGymlog {
    background-color: #c7e1ff;
}

#appCardQiitaReader {
    background-color: #d9ffd1;
}

#appCardMoonPfase {
    background-color: #c7acff;
}

.app-title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app-icon {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    display: block;
    margin-right: 12px;
}

.app-title {
    display: block;
    font-size: 18px;
    margin-left: 0.5rem;
}

#appTitleGymlog, #appTitleMoonPfase {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#appTitleQiitaReader {
    font-family: 'Courier New', Courier, monospace;
}

.app-description {
    text-align: center;
    font-size: 14px;
}

.app-store-logo-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.sns-card {
    display: flex;
    align-items: center;
    border-radius: 20px;
    height: 40px;
    padding: 24px;
    margin-bottom: 18px;
    max-width: var(--maxWidth);
}

.sns-card:hover {
    opacity: 0.5;
}

#instagramCard {
    background: linear-gradient(to top left, #7200b9, #b7199a, #ffc400);
}

#appTitleInstagram {
    color: white;
}

#xCard {
    background-color:  black;
}

#appTitleX {
    color: white;
}

#emailCard {
    background: linear-gradient(to top, #006aff, #00d9ff);
}

#appTitleEmail {
    color: white;
}

/* 
    ダークモード
*/
@media (prefers-color-scheme: dark) {
    body {
        background-color: #29292f;
        color: #fff;
        margin-bottom: 6vh;
    }

    #appCardGymlog {
        background-color: #687585;
    }

    #appCardQiitaReader {
        background-color: #657a61;
    }
    
    #appCardMoonPfase {
        background-color: #4f4365;
    }
    
    a,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
        color: #fff;
    }

    #developerName {
        color: #30a9e6;
        text-decoration: underline;
    }
}