body {
    background-color: #0A0513;
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

h1 {
    margin-bottom: 0;
    text-align: center;
}


main {
    margin-top: 3rem;
}

h2 {
    margin-bottom: 0;
    font-weight: bold;
}

dl {
    margin-bottom: 2.4rem;
}

dt {
    margin-bottom: .5rem;
    font-size: 1.1rem;
    font-weight: bold;
}

dd {
    font-size: 0.85rem;
    margin-left: 1.6rem;
}

.mailto {
    font-family: 'メイリオ', 'Meiryo', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
    color: #ffe600;
}

#lastUpdatedDate {
    font-size: .8rem;
    color: #aaa;
}